/* Add CSS Styling */
.odd-numbered {
    background-color: #ff8297;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-number {
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth-number {
    background-color: #7affa2;
    font-weight: bold;
}

