/* Add CSS Styling */
.black-button {
    background: #000000;
    color: white;
}

.yellow-button {
    background-color: #ffff00;
}

.black-button, .yellow-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}